<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="has-navbar-fixed-top">
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="box is-inline-block title-box">
        <h1 class="has-text-weight-bold is-size-1 is-inline-block">
          Shay's Tech Blog
        </h1>
      </div>
    </div>
  </section>
  <nav class="level navbar is-fixed-top mt-0">
    <div class="level-left">
      <div class="level-item">
        <p class="subtitle is-size-4 px-4">
          | Stay Connected |
        </p>
      </div>
      <div class="level-item">
        <a class="is-size-4 is-underlined" href="/">Home</a>
      </div>
      <div class="level-item">
        <a class="is-size-4 is-underlined" href="/dashboard">Dashboard</a>
      </div>
    </div>
    <div class="level-right">
      {{#if loggedIn}}
      <button id="logout-btn" class="no-style">
        <p class="is-size-4 pr-4 is-underlined">Logout</p>
      </button>
      {{else}}
      <a class="pr-4 is-size-4 is-underlined" href="/login">Login</a>
      {{/if}}
    </div>
  </nav>
  <main class="mt-5">
  {{{ body }}}
  </main>
  <footer class="footer mt-5">
    <div class="content has-text-centered">
      <p>
        Thanks for Checking it out<br>Shay Wagner
      </p>
    </div>
  </footer>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>
</html>
