<section>
  <div class="columns is-centered">
    <div class="column is-half has-background-primary">

      <div class="box has-background-info has-text-centered">
        <h2 class="title is-size-2">Hello {{posts.0.user.username}}!</h2>
        <h3 class="subtitle is-size-4">Welcome to your user dashboard</h3>
      </div>
      <p class= "has-text-centered is-size-3">Add a Post</p>
      <input id="add-post-redirector" class="input" placeholder="Click Here!">
    </div>
  </div>
</section>



{{#if posts.length}}
<section>
  <div class="columns is-centered">
    <div class="column is-half has-background-primary">
      <p class="has-text-centered is-size-3">Your Posts</p>
      {{#each posts as |post|}}
        {{> post post}}
        <div class="columns is-centered">
          <div class="column is-one-quarter pt-0">
            <a class="button is-medium is-fullwidth" href="/dashboard/edit/{{post.id}}">Edit</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
{{/if}}

<script src="/javascript/add-post-redirector.js"></script>