<div class="columns is-centered">
  <div class="column is-half has-background-primary">
    {{> post posts }}



    <form>
      <div class="field">
        <label class="label">Add a comment</label>
        <div class="control">
          <textarea class="textarea" placeholder="Your text here:"></textarea>
        </div>
      </div>

      <div class="field">
        <div class="control mb-3">
          <button class="button is-fullwidth" type="submit">
            <span class="icon is-small">
              <i class="far fa-comment"></i>
            </span>
            <span>
              Submit
            </span>
          </button>
        </div>
      </div>
    </form>
    {{> comments posts.comments}}
  </div>
</div>
